html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.24em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: rgb(109, 34, 179);
}

.conteiner {
    max-width: 1100px;
    margin: auto;
}

.color-acentos {
    color: blueviolet;
}

/* SECCION BARRA*/


header {
    background-color: rgb(245, 245, 245);
}


header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

/*secion-inicio*/
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#hero h1 {
    color: rgb(255, 255, 255);
}

/*animacion barra*/
.separador {
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg,
            rgb(255, 0, 0),
            /* Rojo */
            rgb(255, 165, 0),
            /* Naranja */
            rgb(255, 255, 0),
            /* Amarillo */
            rgb(0, 255, 0),
            /* Verde */
            rgb(0, 0, 255),
            /* Azul */
            rgb(75, 0, 130),
            /* Añil */
            rgb(238, 130, 238)
            /* Violeta */
        );
    background-size: 300% 100%;
    animation: cambiarColores 3s linear infinite;
}

@keyframes cambiarColores {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* SECCION accesorios */


#accesorios .conteiner {
    text-align: center;
    padding: 200px 12px;
}

/*Nuestors-tutoriales*/

#Nuestors-tutoriales {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Nuestors-programas h2 {
    margin-top: 0;
    font-size: 3.5em;
}

#Nuestors-tutoriales .conteiner {
    padding: 150px, 0px;
}

#Nuestors-tutoriales p {
    display: none;
}

/* cartas */

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/Estrategia-warzon.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/Rush-fortnite.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/Sin-MIEDO.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

/*mejores-componentes-PC*/

#mejores-componentes-PC {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#mejores-componentes-PC h2 {
    margin-top: 0;
    font-size: 3.5em;
}

#mejores-componentes-PC .conteiner {
    padding: 150px, 0px;
}

#mejores-componentes-PC p {
    display: none;
}

/* cartas */

.cart:nth-child(1) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/RAM.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.cart:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/GRAFICAS.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.cart:nth-child(3) {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Media/PROCESADORES.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

/*ventana flotante iniciar sesion*/
.ventana {
    background-color: aqua;
    width: 300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
}

.X {
    color: white;
    text-decoration: none;
    margin-bottom: 230px;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante:target {
    opacity: 1;
    pointer-events: auto;
}

#IrVentanaFlotante {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

form {
    display: flex;
    box-shadow: 5px 2px 10px 2px #000000;
    border-radius: 20px;
}

form img {
    align-items: center;
    width: 80px;
    height: 80px;
}

form input[type="text"],
input[type="password"] {
    margin: 5px;
    border: 1px solid rgb(20, 20, 20, 0.37);
    width: 95%;
    background-color: rgb(50, 50, 50);
    color: white;
    display: flex;
}

form label {
    font-weight: 500;
    padding: 10px;
    color: white;
}

.box-visible {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    outline: 0;
    border: 0;
    background-color: blueviolet;
    border-radius: 10px;
    cursor: pointer;
    width: 220px;
    padding: 0;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

form button:hover {
    background-color: rgb(109, 34, 179);
}


/*Iniciar-seccion*/

#Iniciar-seccion h1 {
    font-size: 9vw;
}

#Iniciar-seccion button {
    font-size: 5vw;
}

#Iniciar-seccion {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(30, 30, 30)
}

/*©*/

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    font-size: 15px;
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

footer .conteiner {
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

/*Vercion para PC*/
@media(min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .conteiner {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
    }

    #accesorios .conteiner {
        max-width: 600px;
    }

    #Nuestors-tutoriales .cartitas {
        display: flex;
        justify-content: center;
    }

    #Nuestors-tutoriales p {
        display: block;
        margin-bottom: 30px;
    }

    #Nuestors-tutoriales h3 {
        margin: 0;
    }

    #Nuestors-tutoriales .cartas {
        padding: 50px;
    }

    #mejores-componentes-PC .carts {
        display: flex;
        justify-content: center;
    }

    #mejores-componentes-PC p {
        display: block;
        margin-bottom: 30px;
    }

    #mejores-componentes-PC h3 {
        margin: 0;
    }

    #mejores-componentes-PC .cart {
        padding: 50px;
    }
}