html { scroll-behavior: smooth;}

* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    width: 100%;
}

h1 {font-size: 2.5em;}
h2{font-size: 1.7em;}
h3{font-size: 2em;}
p{font-size: 1.24em;}

header {
    background-color: rgb(245,245,245);
}

.conteiner {
    max-width: 1100px;
    margin: auto;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

.color-texto { color: blueviolet;}

#principal{
        display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Media/rush-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}

#principal h1{
        color: rgb(255, 255, 255);
}

/*Seccion termino rush*/

#termino-rush{
    padding: 20%;
}

#termino-rush .container{
    text-align: center;
    font-size: 2.7vw;
}

/*Secction exito*/
#exito {
    background-color: rgb(30,30,30);
    padding: 10%;
    color: white;
}

#exito .container{
    text-align: center;
    padding: 12px;
}

/*seccion Equipo*/
#Equipo {
    padding: 20%;
}

#Equipo .container {
    text-align: center;
    padding: 200px 12px;
    font-size: 2.7vw;
}

/*seccion consejo*/

#consejo {
    background-color: rgb(30,30,30);
    padding: 10%;
    color: white;
}

#consejo .container{
    text-align: center;
    padding: 12px;
}

/*seccion totorial*/
#tutoriales-vid{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vid {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    font-size: 2em;
}

/*secion copyrigt*/

footer {
    background-color: rgb(230,230,230);
}

footer p{
    font-size: 15px;
    margin: 0;
    color: rgb(100,100,100);
    padding: 12px;
}
footer .conteiner {
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}


/*Vercion para PC*/
@media (min-width:720px){
    /*barra*/
    header {
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;  
    }

    /*primer parrafo*/
    #termino-rush {
        padding: 200px;
    }

    #termino-rush h3{
        margin: 0;
    } 


    #termino-rush p{
        display: block;
        text-align: center;
        font-size: 0.59em;
    }
    

    /*Segundo parrafo*/
    #exito {
        padding: 200px;
    }

    #exito p{
        display: block;
        text-align: center;
        font-size: 1.35em;     
    }

    #exito h3{
        margin: 0;
        font-size: 2.5em;
    }

    /*Tercer parrafo*/
    #Equipo {
        padding: 200px;
    }

    #Equipo h3{
        margin: 0;
        font-size: 1.5em;
    }

    #Equipo p{
        display: block;
        text-align: center;
        font-size: 0.90em;
    }

    /*Cuarto parrafo*/
    #consejo {
        padding: 250px;
    }

    #consejo h3 {
        margin: 0;
        font-size: 2.5em;
    }

    #consejo p {
        display: block;
        text-align: center;
        font-size: 1.35em;
    }
}